{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="centered-container-root">
        <div class="centered-container-wrap">
            <div class="centered-container">
                <div class="row mx-auto">
                    <div class="col-md-8 col-sm-12 mx-auto">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 center border-right">
                                <div class="centered-container-wrap">
                                    <div class="centered-container">
                                        <div class="text-md-right text-center d-block mr-md-5">
                                            <h1 class="mb-1">Register</h1>
                                            <p class="text-muted">A few moments away...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <form method="post" class="ml-md-5">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                                    <p class="mt-3 mb-1 text-muted text-center">Already egistered ? <a
                                            href="{% url 'accounts.login' %}">Login</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
