{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="centered-container-root">
        <div class="centered-container-wrap">
            <div class="centered-container">
                <div class="row mx-auto">
                    <div class="col-md-8 col-sm-12 mx-auto">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 center border-right">
                                <div class="centered-container-wrap">
                                    <div class="centered-container">
                                        <div class="text-md-right text-center d-block mr-md-5">
                                            <h1 class="h3 mb-1">Problems with Password ?</h1>
                                            <p class="text-muted">It's normal, human do that all the time, give your
                                                login email and we have a have you
                                                back in.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <form method="post" class="ml-md-5">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary btn-block">Send Instructions</button>
                                    <p class="mt-5 mb-1 text-muted text-center">Remember your password ? try <a
                                            href="{% url 'accounts.login' %}">Login</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
