{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Hello, packman!</h1>
            <p class="lead">Packman is a ready to deploy django boilerplate.</p>
            <hr class="my-4">
            <p>It easy to use and can be deployed onto different environments.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
{% endblock content %}
