/* Custom Styles */
.centered-container-root {
    height: 100%;
    width: 100%;
    position: absolute;
}

.centered-container-wrap {
    display: table;
    height: 100%;
    width: 100%;
}

.centered-container {
    display: table-cell;
    vertical-align: middle;
}

.single-form {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}
