{% comment %}
    This file serves as root file for all templates used in the project.

    This template is avalible to all apps in the project and can be extended using {% extends "base.html" %}
{% endcomment %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {% if title %} {{ title }} {% else %} Packman {% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% block content %}
{% endblock content %}
<script src="{% static '/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static '/js/popper-1.14.3.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
</body>
</html>
